.container {
    margin-top: 30px;
}


#game {
}

#board {
    position: relative;
    width: 650px;
    height: 880px;
}

#next {
    position: absolute;
    top: 5px;
    right: 5px;
}


#stats {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 24px;
}

#stats > div {
    margin-bottom: 40px;
}


#settings {
    width: 220px;
}

#settings > div {
    margin-bottom: 15px;
}

input:invalid {
    border-color: red !important;
}

.form-invalid-message {
    width: 100%;
    color: red;
    font-size: 0.8125rem;
}